.filterbox {
}

.filterbox-content {

  padding: 0 0 10px 0;
  margin: 5px 0 0 0;
}

.filterbox h3 {
  background: #334564;
  text-align: left;
  width: 100%;
  position: relative;
  padding-left: 15px;
  cursor: pointer;
}

.filterbox h3 span {
  position: absolute;
  right: 35px;
  top: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight:300;
}

.filterbox h3 span:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 7px 0 7px;
  margin-left: 8px;
  position: absolute;
  top: 6px;
  right: -20px;
  border-color: #f3f3f3 transparent transparent transparent;
  transition: all .3s ease-in-out;
}

.filterbox h3 span.expanded-arrow:after {
  transform: rotate(180deg);
}

.filterbox-content button {
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  text-transform: none;
  padding-right: 25px;
}

.filterbox-content .btn-green:after {
  display: block;
  width: 10px;
  height: 10px;
  font-family: FontAwesome;
  content: '\f00c';
  position: absolute;
  right: 6px;
  top:8px;
}

.filterbox-content .btn-gray:after {
  display: block;
  width: 10px;
  height: 10px;
  font-family: FontAwesome;
  content: '\f00d';
  position: absolute;
  right: 8px;
  top:8px;
}

.profile-teaser  {
  padding: 15px;
  margin: 30px 0;
}

.profile-teaser h4 {
  background: #334564;
}

.profile-teaser p {
  line-height: 1.5;
}

.profile-teaser .btn-blue {
  width: auto;
  padding: 6px 40px 6px 6px;
  display: block;
  margin: 15px 0;
  color: #f3f3f3;
}

.filter-list {
  padding: 0;

  transition: all .3s linear;
}

.expanded {
  opacity: 1;
  overflow: visible;
}

.not-expanded {
  opacity: 0;
  overflow: hidden;
}
